// Global color

$primary-color: "#FF5634";
$primary-hover: "#e13f1f";
$text-gray: "#656565";
$section-background: "#fafafa";

// Font Size
$text-base: "16px";
$text-lg: "18px";
$text-xl: "20px";
$text-2xl: "22px";
$text-3xl: "24px";
$text-4xl: "28px";
$text-5xl: "44px";
$text-6xl: "56px";
$text-7xl: "62px";

//Line Height
$line-base: "1rem";
$line-lg: "1.75rem";
$line-xl: "1.75rem";
$line-2xl: "2rem";
$line-3xl: "2rem";
$line-4xl: "2rem";
$line-5xl: "1";
$line-6xl: "1";
$line-7xl: "1";

// Box Shadow

$shadow-md: 0 14px 42px 0 rgba(16, 16, 16, 0.08);
$shadow-lg: 0 14px 42px 0 rgba(16, 16, 16, 0.14);
